<?xml version="1.0" ?>
<robot name="truck" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:arg name="driven_wheels" default="8"/>
<xacro:arg name="steering_limit" default="${35 * pi / 180}"/>

<xacro:include filename="$(find truck_controller_pkg)/urdf/truck8x$(arg driven_wheels)_control.ros2control" />
<xacro:include filename="$(find truck_controller_pkg)/urdf/truck_control.gazebo" />

<!--Extension of base xacro with fictitious link and fixed joint in order to compute odometry of application point-->
<xacro:arg name="app_point_offset" default="0.0"/>
<xacro:arg name="rear_centerline_pos" default="2.6815"/>

<link name="base_footprint">
  <inertial>
    <mass value="0.0001"/>
    <inertia ixx="0.0001" iyy="0.0001" izz="0.0001" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
</link>

<joint name="base_joint" type="fixed">
  <parent link="base_footprint"/>
  <child link="base_link"/>
  <origin xyz="${$(arg rear_centerline_pos) - $(arg app_point_offset)} 0 0" rpy="0 0 ${pi}"/>
</joint>

</robot>